html
  title= title
  link(rel="stylesheet", href="/app.css")
  body
    header
      h1 My Chat Application

    section#main
      ul

    section#box
      form
        input(id="message", placeholder="Write your message here")

    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/main.js')
